@charset "UTF-8";
@import url(style_Reset.css);

/* 가이드라인 시작 */
/* 
div#wrap {
  border: 1px solid #000;
} */

/* #wrap > #header {
  border: 1px solid #08f;
} */

/* 
#header>* {
    border: 1px solid #000;
} */

/* 가이드라인 끝 */

/* div#wrap 시작 */
div#wrap {
  width: 1140px;
  padding: 0 10px;
  /* border: 1px solid #000; */
  margin: 0 auto;
}
/* div#wrap 끝 */

/* header#header 시작 */
header#header {
  height: 150px;
  padding: 4px;

  align-items: center;
}

#header > div#headerLogo {
  width: 230px;
  text-align: center;
}

/* div#searchArea 시작 */
#header > div#searchArea {
  flex: 1;
}
#header > div#searchArea > * {
  width: 300px;
  /* border: 1px solid #f80; */
  transform: translateX(120px);
}
#searchArea span#slogan {
  color: #1174a8;
  font-size: 11px;
  font-weight: bold;
}

#searchArea #searchWordArea {
  margin: 5px 0;
}
#searchArea input {
  width: 220px;
  font-size: 17px;
  padding: 6px 14px;
  border: 1px solid #1174a8;
  border-width: 4px 1px;
  margin-left: 4px;
}
#searchArea input::placeholder {
  color: #222;
}
#searchArea button {
  width: 50px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #1174a8;
  margin-left: 1px;
  background-color: #1174a8;
}

#searchArea div#fsw ul {
  align-items: center;
}
#searchArea div#fsw li {
  font-size: 11px;
  font-weight: bold;
  margin: 0 4px;
}
/* div#searchArea 끝 */

/* nav#headerLnb 시작 */
#header > nav#headerLnb {
  width: 380px;
  padding: 10px;
}
#headerLnb li {
  font-size: 11px;
  font-weight: bold;
}
#headerLnb li:nth-child(2n) {
  margin: 0 6px;
}
/* nav#headerLnb 끝 */

/* header#header 끝 */

/* nav#gnb 시작 */
nav#gnb {
  padding: 4px 0;
  /* border: 1px solid #000; */
}

#gnb ul {
  justify-content: center;
  align-items: center;
}

#gnb ul a {
  color: #fff;
  font-size: 17px;
  /* font-weight: bold; */
  text-align: center;
  padding: 3px 0px 0;
  background-color: #383735;
  display: inline-block;
}

#gnb ul li:not(:last-child) a {
  border-left: 1px solid #fff;
}

#gnb li:first-child a {
  padding: 8px 18px;
  background-color: #3793c4;
}

#gnb li:last-child {
  height: 28px;
  /* border: 1px solid #000; */
}

#gnb li:last-child a {
  width: 110px;
  height: 28px;
  font-size: 11px;
  line-height: 28px;
  padding: 0;
  background-color: #f7941d;
}

#gnb li:last-child a span {
  color: #fff;
  /* display: block; */
}

/* GNB메뉴 하이라이트 효과 시작 */

/* #gnb li.mainLi a {
  border: 1px solid #f00;
} */

#gnb li.mainLi a span.spanEffect {
  color: #fff;
  padding: 4px 19px 5px;
  /* border: 1px solid #08f; */
  border-bottom: 4px solid #383735;
  display: inline-block;
}
#gnb li.mainLi a span.spanEffect:hover {
  border-bottom: 4px solid #3793c4;
}
/* GNB메뉴 하이라이트 효과 끝 */

/* nav#gnb 끝 */

/* main#main 시작 */

main#main {
  padding: 10px;
  margin-bottom: 30px;

  justify-content: space-around;
}

/* div#mainLnbArea 시작 */
#main div#mainLnbArea {
  width: 156px;
  height: 270px;
  padding: 10px 24px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
#main #mainLnbArea h3 {
  text-align: center;
}
#main hr {
  padding-bottom: 1px;
  border: none;
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #eee;
  margin: 3px 0;
}
#main li {
  line-height: 19px;
  list-style-image: url(../images/arrow_Icon.png);
  list-style-position: inside;
}

#main li a {
  font-size: 12px;
  font-weight: bold;
}
/* div#mainLnbArea 끝 */

/* div#contents 시작 */
#main div#contents {
  width: 760px;
  padding-top: 26px;
  padding-left: 80px;
  /* border: 1px solid #000; */
}

/* header#contentsHeader 시작 */
#contents header#contentsHeader p {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 11px;
}
#contents header#contentsHeader span#loginTxt1 {
  color: #16b1a9;
  font-size: 20px;
  font-weight: bold;
}
#contents header#contentsHeader span#loginTxt2 {
  color: #7fb142;
  font-weight: bold;
}

/* header#contentsHeader 끝 */

/* div#loginArea 시작 */
div#loginArea {
  width: 470px;
  padding: 26px 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 20px;
}
#loginArea table {
  font-size: 11px;
  /* border: 1px solid #000; */
}

#loginArea table td {
  vertical-align: middle;
  padding: 2px 0;
}

#loginArea td#loginAreaTxt {
  color: #723495;
  font-weight: bold;
  vertical-align: top;
  padding-top: 7px;
  padding-right: 16px;
}

#loginArea td.loginInputTxt {
  padding-right: 14px;
}

#loginArea td.loginInputTxt::before {
  content: "\2022";
  /* 불릿기호(bullet, 총알자국 기호) 
  URL => https://www.w3schools.com/howto/howto_css_bullet_color.asp
  */
  color: #f00;
  font-weight: bold;
}

#loginArea td input.account {
  width: 130px;
  padding: 4px;
  border: 1px solid #bbb;
}

#loginArea td#securityChk {
  padding: 4px;
}
#loginArea td#securityChk input {
  margin-right: 4px;
  transform: translateY(2px);
}
#loginArea td button {
  color: #fff;
  font-size: 12px;
  padding: 2px 17px;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin-left: 4px;

  cursor: pointer;
  background-color: #aaa;
  transform: translateY(2px);
}
/* div#loginArea 끝 */

/* div#memberLink 시작 */
div#memberLink table {
  margin: 28px 0;
}

#memberLink table tr {
  cursor: pointer;
}
div#memberLink table td {
  padding: 10px 4px 10px 0;
}
div#memberLink h4.memberLinkTitle {
  color: #723495;
  font-size: 11px;
}
div#memberLink table span {
  font-size: 11px;
}
/* div#memberLink 시작 */

/* footer#contentsFooter 시작 */
footer#contentsFooter {
  font-size: 13px;
  line-height: 19px;
  padding-left: 10px;
}
/* footer#contentsFooter 끝 */

/* div#contents 끝 */

/* main#main 끝 */

/* footer#footer 시작 */
hr#footerLine {
  border: none;
  border-top: 4px solid #444;
  margin: 0 80px 0 40px;
}

footer#footer {
  justify-content: space-around;
  margin: 0 80px 0 40px;
  margin-bottom: 80px;
}

#footer div.footerItem {
  padding: 0 10px;
  /* border: 1px solid #000; */
}
#footer div.footerItem h4 {
  margin: 8px 0;
}

/* Contact Us 시작 */
div#contactUs > p:first-child {
  font-size: 22px;
  font-weight: bold;
  margin: 16px 0;
}
div#contactUs > p:not(:first-child) {
  font-size: 14px;
  line-height: 22px;
}
/* Contact Us 끝 */

/* Banking Info 시작 */
div#bankingInfo > p:first-child {
  font-size: 14px;
}
div#bankingInfo > p:first-child span {
  color: #01559d;
  font-size: 18px;
  font-weight: bold;
  margin-right: 14px;
  display: inline-block;
  transform: scaleX(1.5) translate(4px, 1px);
}
div#bankingInfo > p:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 16px;
}
div#bankingInfo > p:last-child {
  font-size: 14px;
}
/* Banking Info 시작 */

/* Delivery 시작 */
div#delivery b {
  font-size: 14px;
  line-height: 30px;
}
div#delivery > p:nth-child(2) {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 5px;
  /* 자간(=글자 간격) */
  margin: 12px 0;
}

div#delivery > p#refundAddr {
  margin-top: 6px;
}
div#delivery > p#refundAddrOld {
  text-align: right;
  padding-right: 8px;
}
div#delivery > p.refund {
  font-size: 14px;
}
/* Delivery 끝 */

/* Community 시작 */
div#community {
  margin-top: 20px;
}
div#community a {
  font-size: 14px;
  line-height: 22px;
}
/* Community 끝 */

/* footer#footer 끝 */
