@charset "UTF-8";
@import url(style_Reset.css);

/* 가이드라인 시작 */
div#wrap {
  border: 1px solid #000;
}
#wrap > #header {
  border: 1px solid #08f;
}
/* 
#header>* {
    border: 1px solid #000;
} */

/* 가이드라인 끝 */

/* div#wrap 시작 */
div#wrap {
  width: 1140px;
  padding: 0 10px;
  border: 1px solid #000;
  margin: 0 auto;
}
/* div#wrap 끝 */

/* header#header 시작 */
header#header {
  height: 150px;
  padding: 4px;

  align-items: center;
}

#header > div#headerLogo {
  width: 230px;
  text-align: center;
}

/* div#searchArea 시작 */
#header > div#searchArea {
  flex: 1;
}
#header > div#searchArea > * {
  width: 300px;
  /* border: 1px solid #f80; */
  transform: translateX(120px);
}
#searchArea span#slogan {
  color: #1174a8;
  font-size: 11px;
  font-weight: bold;
}

#searchArea #searchWordArea {
  margin: 5px 0;
}
#searchArea input {
  width: 220px;
  font-size: 17px;
  padding: 6px 14px;
  border: 1px solid #1174a8;
  border-width: 4px 1px;
  margin-left: 4px;
}
#searchArea input::placeholder {
  color: #222;
}
#searchArea button {
  width: 50px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #1174a8;
  margin-left: 1px;
  background-color: #1174a8;
}

#searchArea div#fsw ul {
  align-items: center;
}
#searchArea div#fsw li {
  font-size: 11px;
  font-weight: bold;
  margin: 0 4px;
}
/* div#searchArea 끝 */

/* nav#headerLnb 시작 */
#header > nav#headerLnb {
  width: 380px;
  padding: 10px;
}
#headerLnb li {
  font-size: 11px;
  font-weight: bold;
}
#headerLnb li:nth-child(2n) {
  margin: 0 6px;
}
/* nav#headerLnb 끝 */

/* header#header 끝 */

/* nav#gnb 시작 */
nav#gnb {
  padding: 4px 0;
  border: 1px solid #000;
}

#gnb ul {
  justify-content: center;
  align-items: center;
}

#gnb ul a {
  color: #fff;
  font-size: 17px;
  /* font-weight: bold; */
  text-align: center;
  padding: 3px 0px 0;
  background-color: #383735;
  display: inline-block;
}

#gnb ul li:not(:last-child) a {
  border-left: 1px solid #fff;
}

#gnb li:first-child a {
  padding: 8px 18px;
  background-color: #3793c4;
}

#gnb li:last-child {
  height: 28px;
  /* border: 1px solid #000; */
}

#gnb li:last-child a {
  width: 110px;
  height: 28px;
  font-size: 11px;
  line-height: 28px;
  padding: 0;
  background-color: #f7941d;
}

#gnb li:last-child a span {
  color: #fff;
  /* display: block; */
}

/* GNB메뉴 하이라이트 효과 시작 */

/* #gnb li.mainLi a {
  border: 1px solid #f00;
} */

#gnb li.mainLi a span.spanEffect {
  color: #fff;
  padding: 4px 22px 5px;
  /* border: 1px solid #08f; */
  border-bottom: 4px solid #383735;
  display: inline-block;
}
#gnb li.mainLi a span.spanEffect:hover {
  border-bottom: 4px solid #3793c4;
}
/* GNB메뉴 하이라이트 효과 끝 */

/* nav#gnb 끝 */
